.jumbotron{
    background-image: url(images/jt02.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    border-radius: 0;
    height: 40%;
    
}
h1{
    padding-top: 50;
    text-align: center;
}
h4{
    text-decoration: underline;
    text-align: center;
}
aside{
    padding-right: -100px;
    position: relative;
    float:left;
    width:170px; 
    top: 0px;
    bottom: 0px;
    padding-left: 0;
    background-color: C9C9C9;
}
table, th, td {
    border: 1px solid black;
}
caption{
    text-decoration: underline;
}
td{
    text-align: center;
}
.tab{
    text-indent: 40px;
}