*{
    font-kerning: 2px;
}
#logo{
    height: 30;
    width: auto;
}
#mill1{
    height: 400;
    width: auto;
    padding-left: 100;
}
#mill2{
    height: 300;
    Width: auto;
    padding-top: 15px;
    padding-left: 20px;
}
#watch_link{
    width:285;
}
#satin{
    padding-bottom: 10px;
    text-align: center;
    
}
.thumbnail:hover {
    position:relative;
    top:-10px;
    left:-15px;
    width:600px;
    height:auto;
    display:block;
    z-index:999;
}
.jumbotron{
    background-image:url(images/milim-figure.jpg);
    background-size: cover;
    height: 500px;
    border-radius: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    }
#submit{
    width: 700px;
}
h1{
    text-align: center;
    padding-top: 190;
}
aside { 
    position: relative;
    float:right;
    width:170px; 
    top: 0px;
    bottom: 0px;
}
h2{
    text-align: center;
}
paragraphspace{
    padding-left: 100px;
}
p{
    text-indent: 50px;
}
